body{
	margin:0;
	padding:0;
}

h1 {
	text-align:center;
	font-size:35px;
}

div {
	float:left;
	background-color: purple;
	color:white;
	padding:10px;
	font-size: 25px;
	border:2px solid white;
}

div:hover{
	background-color: grey;
}